In [ ]:
import numpy as np
from datascience import *
import random

# These lines do some fancy plotting magic
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore')
from datetime import datetime

In [ ]:
possible_scores = make_array(1,2,3,4,5)
scores = make_array()
for i in np.arange(500):  
  scores = np.append(scores, np.random.choice(possible_scores))

possible_quantities = make_array()
for j in np.arange(500):
  possible_quantities = np.append(possible_quantities, j)


quantities = make_array()
for k in np.arange(500):
  quantities = np.append(quantities, np.random.choice(possible_quantities))
  
reviews = Table().with_columns("Review", scores, "Number of Reviews", quantities)

In [ ]:
reviews

Review | Number of Reviews
2      | 150
1      | 346
4      | 187
1      | 75
1      | 89
5      | 94
1      | 427
4      | 287
2      | 54
5      | 99
... (490 rows omitted)

In [ ]:
mean_score = np.mean(reviews.column("Review"))
mean_score

2.9300000000000002

In [ ]:
total_num_reviews_amongst_reviewers = sum(reviews.column("Number of Reviews"))
total_num_reviews_amongst_reviewers

123637.0

In [ ]:
proportion_total_reviews = reviews.column("Number of Reviews") / total_num_reviews_amongst_reviewers
reviews = reviews.with_column("Proportion of Reviews", proportion_total_reviews)
reviews

Review | Number of Reviews | Proportion of Reviews
2      | 150               | 0.00121323
1      | 346               | 0.00279852
4      | 187               | 0.00151249
1      | 75                | 0.000606615
1      | 89                | 0.000719849
5      | 94                | 0.00076029
1      | 427               | 0.00345366
4      | 287               | 0.00232131
2      | 54                | 0.000436762
5      | 99                | 0.000800731
... (490 rows omitted)

In [ ]:
proportional_review = reviews.column("Proportion of Reviews") * reviews.column("Review")
reviews = reviews.with_column("Proportional Review", proportional_review)
reviews

Review | Number of Reviews | Proportion of Reviews | Proportional Review
2      | 150               | 0.00121323            | 0.00242646
1      | 346               | 0.00279852            | 0.00279852
4      | 187               | 0.00151249            | 0.00604997
1      | 75                | 0.000606615           | 0.000606615
1      | 89                | 0.000719849           | 0.000719849
5      | 94                | 0.00076029            | 0.00380145
1      | 427               | 0.00345366            | 0.00345366
4      | 287               | 0.00232131            | 0.00928525
2      | 54                | 0.000436762           | 0.000873525
5      | 99                | 0.000800731           | 0.00400366
... (490 rows omitted)

In [ ]:
weighted_review = sum(reviews.column("Proportional Review"))
weighted_review

2.9496590826370785

In [ ]:
num_of_reviews = reviews.column("Number of Reviews")
def find_percentile(val):
  return np.sum(val > num_of_reviews) / len(num_of_reviews)

number_of_review_percentiles = reviews.apply(find_percentile, "Number of Reviews")
reviews = reviews.with_column("num of review percentile",number_of_review_percentiles)
reviews

Review | Number of Reviews | Proportion of Reviews | Proportional Review | num of review percentile
2      | 150               | 0.00121323            | 0.00242646          | 0.326
1      | 346               | 0.00279852            | 0.00279852          | 0.684
4      | 187               | 0.00151249            | 0.00604997          | 0.386
1      | 75                | 0.000606615           | 0.000606615         | 0.156
1      | 89                | 0.000719849           | 0.000719849         | 0.192
5      | 94                | 0.00076029            | 0.00380145          | 0.21
1      | 427               | 0.00345366            | 0.00345366          | 0.862
4      | 287               | 0.00232131            | 0.00928525          | 0.556
2      | 54                | 0.000436762           | 0.000873525         | 0.11
5      | 99                | 0.000800731           | 0.00400366          | 0.222
... (490 rows omitted)

In [ ]:
sum_of_percentiles = sum(reviews.column("num of review percentile"))
sum_of_percentiles

249.02400000000009

In [ ]:
percentile_proportions = reviews.column("num of review percentile") / sum_of_percentiles
reviews = reviews.with_column("percentile_proportions",percentile_proportions)
reviews

Review | Number of Reviews | Proportion of Reviews | Proportional Review | num of review percentile | percentile_proportions
2      | 150               | 0.00121323            | 0.00242646          | 0.326                    | 0.00130911
1      | 346               | 0.00279852            | 0.00279852          | 0.684                    | 0.00274672
4      | 187               | 0.00151249            | 0.00604997          | 0.386                    | 0.00155005
1      | 75                | 0.000606615           | 0.000606615         | 0.156                    | 0.000626446
1      | 89                | 0.000719849           | 0.000719849         | 0.192                    | 0.00077101
5      | 94                | 0.00076029            | 0.00380145          | 0.21                     | 0.000843292
1      | 427               | 0.00345366            | 0.00345366          | 0.862                    | 0.00346151
4      | 287               | 0.00232131            | 0.00928525          | 0.556                    | 0.00223272
2      | 54                | 0.000436762           | 0.000873525         | 0.11                     | 0.000441724
5      | 99                | 0.000800731           | 0.00400366          | 0.222                    | 0.00089148
... (490 rows omitted)

In [ ]:
percentile_review = reviews.column("Review") * reviews.column("percentile_proportions")
reviews = reviews.with_column("percentile review",percentile_review)
reviews

Review | Number of Reviews | Proportion of Reviews | Proportional Review | num of review percentile | percentile_proportions | percentile review
2      | 150               | 0.00121323            | 0.00242646          | 0.326                    | 0.00130911             | 0.00261822
1      | 346               | 0.00279852            | 0.00279852          | 0.684                    | 0.00274672             | 0.00274672
4      | 187               | 0.00151249            | 0.00604997          | 0.386                    | 0.00155005             | 0.00620021
1      | 75                | 0.000606615           | 0.000606615         | 0.156                    | 0.000626446            | 0.000626446
1      | 89                | 0.000719849           | 0.000719849         | 0.192                    | 0.00077101             | 0.00077101
5      | 94                | 0.00076029            | 0.00380145          | 0.21                     | 0.000843292            | 0.00421646
1      | 427               | 0.00345366            | 0.00345366          | 0.862                    | 0.00346151             | 0.00346151
4      | 287               | 0.00232131            | 0.00928525          | 0.556                    | 0.00223272             | 0.00893087
2      | 54                | 0.000436762           | 0.000873525         | 0.11                     | 0.000441724            | 0.000883449
5      | 99                | 0.000800731           | 0.00400366          | 0.222                    | 0.00089148             | 0.0044574
... (490 rows omitted)

In [ ]:
total_percentile_review = sum(reviews.column("percentile review"))
total_percentile_review

2.9505348882035451

In [ ]:
importance = reviews.select("Number of Reviews", "Proportion of Reviews").relabeled("Proportion of Reviews", "Importance")
dummy_value = make_array()
for i in np.arange(500):
  dummy_value = np.append(dummy_value, random.random())
importance = importance.with_column("Dummy", dummy_value)
importance

Number of Reviews | Importance  | Dummy
150               | 0.00121323  | 0.826521
346               | 0.00279852  | 0.895292
187               | 0.00151249  | 0.744446
75                | 0.000606615 | 0.792066
89                | 0.000719849 | 0.634568
94                | 0.00076029  | 0.219608
427               | 0.00345366  | 0.23085
287               | 0.00232131  | 0.300271
54                | 0.000436762 | 0.716367
99                | 0.000800731 | 0.163218
... (490 rows omitted)

In [ ]:

reduced = importance

In [ ]:
dummies = reduced.column("Dummy")
def find_difference(value):
    arr = make_array()
    for d in dummies:
      arr = np.append(arr, ((1 - abs(value - d)) - 0.5) * 2)
    return arr

diff_vectors = reduced.apply(find_difference, "Dummy")
diff_vectors
reduced = reduced.with_column("Differences", diff_vectors)
reduced

Number of Reviews | Importance  | Dummy    | Differences
150               | 0.00121323  | 0.826521 | [ 1.          0.86245763  0.83585126  0.93109039  0.6160 ...
346               | 0.00279852  | 0.895292 | [ 0.86245763  1.          0.69830889  0.79354802  0.4785 ...
187               | 0.00151249  | 0.744446 | [  8.35851258e-01   6.98308890e-01   1.00000000e+00   9. ...
75                | 0.000606615 | 0.792066 | [ 0.93109039  0.79354802  0.90476087  1.          0.6850 ...
89                | 0.000719849 | 0.634568 | [ 0.61609563  0.47855326  0.78024437  0.68500524  1.     ...
94                | 0.00076029  | 0.219608 | [-0.21382441 -0.35136678 -0.04967567 -0.1449148   0.1700 ...
427               | 0.00345366  | 0.23085  | [-0.19134085 -0.32888322 -0.02719211 -0.12243124  0.1925 ...
287               | 0.00232131  | 0.300271 | [ -5.24998227e-02  -1.90042191e-01   1.11648919e-01   1. ...
54                | 0.000436762 | 0.716367 | [  7.79692415e-01   6.42150047e-01   9.43841157e-01   8. ...
99                | 0.000800731 | 0.163218 | [ -3.26604313e-01  -4.64146681e-01  -1.62455571e-01  -2. ...
... (490 rows omitted)

In [ ]:

importance_arr = reduced.column("Importance")
def take_dot(differences):
  return np.dot(differences, importance_arr)

importance_scalar = reduced.apply(take_dot, "Differences")
reduced = reduced.with_column("Importance Scalar", importance_scalar)
reduced

Number of Reviews | Importance  | Dummy    | Differences                                                  | Importance Scalar | Importance Rescaled
150               | 0.00121323  | 0.826521 | [ 1.          0.86245763  0.83585126  0.93109039  0.6160 ... | 0.284548          | 0.365516
346               | 0.00279852  | 0.895292 | [ 0.86245763  1.          0.69830889  0.79354802  0.4785 ... | 0.185078          | 0.219332
187               | 0.00151249  | 0.744446 | [  8.35851258e-01   6.98308890e-01   1.00000000e+00   9. ... | 0.375428          | 0.516373
75                | 0.000606615 | 0.792066 | [ 0.93109039  0.79354802  0.90476087  1.          0.6850 ... | 0.326014          | 0.432299
89                | 0.000719849 | 0.634568 | [ 0.61609563  0.47855326  0.78024437  0.68500524  1.     ... | 0.460657          | 0.672863
94                | 0.00076029  | 0.219608 | [-0.21382441 -0.35136678 -0.04967567 -0.1449148   0.1700 ... | 0.343063          | 0.460754
427               | 0.00345366  | 0.23085  | [-0.19134085 -0.32888322 -0.02719211 -0.12243124  0.1925 ... | 0.355351          | 0.481626
287               | 0.00232131  | 0.300271 | [ -5.24998227e-02  -1.90042191e-01   1.11648919e-01   1. ... | 0.418804          | 0.594201
54                | 0.000436762 | 0.716367 | [  7.79692415e-01   6.42150047e-01   9.43841157e-01   8. ... | 0.401251          | 0.562254
99                | 0.000800731 | 0.163218 | [ -3.26604313e-01  -4.64146681e-01  -1.62455571e-01  -2. ... | 0.273194          | 0.347829
... (490 rows omitted)

In [ ]:
rescaled = reduced.column("Importance Scalar") * ( 1 + reduced.column("Importance Scalar"))
reduced = reduced.with_column("Importance Rescaled", rescaled)
reduced

Number of Reviews | Importance  | Dummy    | Differences                                                  | Importance Scalar | Importance Rescaled
150               | 0.00121323  | 0.826521 | [ 1.          0.86245763  0.83585126  0.93109039  0.6160 ... | 0.284548          | 0.365516
346               | 0.00279852  | 0.895292 | [ 0.86245763  1.          0.69830889  0.79354802  0.4785 ... | 0.185078          | 0.219332
187               | 0.00151249  | 0.744446 | [  8.35851258e-01   6.98308890e-01   1.00000000e+00   9. ... | 0.375428          | 0.516373
75                | 0.000606615 | 0.792066 | [ 0.93109039  0.79354802  0.90476087  1.          0.6850 ... | 0.326014          | 0.432299
89                | 0.000719849 | 0.634568 | [ 0.61609563  0.47855326  0.78024437  0.68500524  1.     ... | 0.460657          | 0.672863
94                | 0.00076029  | 0.219608 | [-0.21382441 -0.35136678 -0.04967567 -0.1449148   0.1700 ... | 0.343063          | 0.460754
427               | 0.00345366  | 0.23085  | [-0.19134085 -0.32888322 -0.02719211 -0.12243124  0.1925 ... | 0.355351          | 0.481626
287               | 0.00232131  | 0.300271 | [ -5.24998227e-02  -1.90042191e-01   1.11648919e-01   1. ... | 0.418804          | 0.594201
54                | 0.000436762 | 0.716367 | [  7.79692415e-01   6.42150047e-01   9.43841157e-01   8. ... | 0.401251          | 0.562254
99                | 0.000800731 | 0.163218 | [ -3.26604313e-01  -4.64146681e-01  -1.62455571e-01  -2. ... | 0.273194          | 0.347829
... (490 rows omitted)

In [ ]:
#New Stuff Nov 29

In [ ]:
importance_vector = reduced.with_column("Importance Res")

AttributeError: ignored