In [ ]:
import numpy as np
from datascience import *
import random

# These lines do some fancy plotting magic
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore')
from datetime import datetime

In [ ]:
big_size = 10

ratings = make_array()
for i in range(big_size):
  ratings = np.append(ratings, random.randint(1,5))

ratings

array([ 5.,  4.,  3.,  5.,  3.,  4.,  2.,  1.,  5.,  3.])

In [ ]:
reviews = Table().with_column("ratings", ratings)
reviews

ratings
5
4
3
5
3
4
2
1
5
3

In [ ]:
mu, sigma = 5, 2 # mean and standard deviation
importance = np.random.normal(mu, sigma, big_size)
importance

array([ 3.96986765,  3.87379159,  5.33923876,  5.90306769,  5.4190989 ,
        5.31346559,  2.26376782,  5.17286978,  9.60917524,  6.05050647])

In [ ]:
reviews = reviews.with_column("importance", importance)
reviews

ratings | importance
5       | 3.96987
4       | 3.87379
3       | 5.33924
5       | 5.90307
3       | 5.4191
4       | 5.31347
2       | 2.26377
1       | 5.17287
5       | 9.60918
3       | 6.05051

In [ ]:
random_variables = np.random.random_integers(1, 50, big_size)
reviews = reviews.with_column("random var", random_variables)
reviews

ratings | importance | random var
5       | 3.96987    | 24
4       | 3.87379    | 31
3       | 5.33924    | 10
5       | 5.90307    | 50
3       | 5.4191     | 39
4       | 5.31347    | 4
2       | 2.26377    | 1
1       | 5.17287    | 20
5       | 9.60918    | 15
3       | 6.05051    | 3

In [ ]:
random_variables
def find_similarity(var):
  diff_arr = make_array()
  for r in random_variables:
    diff_arr = np.append(diff_arr, abs(r - var))
  return 50 - diff_arr

In [ ]:
similarity = find_similarity(11)
similarity

array([ 37.,  30.,  49.,  11.,  22.,  43.,  40.,  41.,  46.,  42.])

In [ ]:
similarities = reviews.apply(find_similarity, "random var")
reviews = reviews.with_column("similarities", similarities)
reviews

ratings | importance | random var | similarities
5       | 3.96987    | 24         | [ 50.  43.  36.  24.  35.  30.  27.  46.  41.  29.]
4       | 3.87379    | 31         | [ 43.  50.  29.  31.  42.  23.  20.  39.  34.  22.]
3       | 5.33924    | 10         | [ 36.  29.  50.  10.  21.  44.  41.  40.  45.  43.]
5       | 5.90307    | 50         | [ 24.  31.  10.  50.  39.   4.   1.  20.  15.   3.]
3       | 5.4191     | 39         | [ 35.  42.  21.  39.  50.  15.  12.  31.  26.  14.]
4       | 5.31347    | 4          | [ 30.  23.  44.   4.  15.  50.  47.  34.  39.  49.]
2       | 2.26377    | 1          | [ 27.  20.  41.   1.  12.  47.  50.  31.  36.  48.]
1       | 5.17287    | 20         | [ 46.  39.  40.  20.  31.  34.  31.  50.  45.  33.]
5       | 9.60918    | 15         | [ 41.  34.  45.  15.  26.  39.  36.  45.  50.  38.]
3       | 6.05051    | 3          | [ 29.  22.  43.   3.  14.  49.  48.  33.  38.  50.]

In [ ]:
similarities

array([[ 50.,  43.,  36.,  24.,  35.,  30.,  27.,  46.,  41.,  29.],
       [ 43.,  50.,  29.,  31.,  42.,  23.,  20.,  39.,  34.,  22.],
       [ 36.,  29.,  50.,  10.,  21.,  44.,  41.,  40.,  45.,  43.],
       [ 24.,  31.,  10.,  50.,  39.,   4.,   1.,  20.,  15.,   3.],
       [ 35.,  42.,  21.,  39.,  50.,  15.,  12.,  31.,  26.,  14.],
       [ 30.,  23.,  44.,   4.,  15.,  50.,  47.,  34.,  39.,  49.],
       [ 27.,  20.,  41.,   1.,  12.,  47.,  50.,  31.,  36.,  48.],
       [ 46.,  39.,  40.,  20.,  31.,  34.,  31.,  50.,  45.,  33.],
       [ 41.,  34.,  45.,  15.,  26.,  39.,  36.,  45.,  50.,  38.],
       [ 29.,  22.,  43.,   3.,  14.,  49.,  48.,  33.,  38.,  50.]])

In [ ]:
for i in range(len(similarities)):
  for j in range(len(similarities[0])):
    if i == j:
      similarities[i][j] = 0

reviews = reviews.with_column("similarities", similarities)
reviews

ratings | importance | random var | similarities
5       | 3.96987    | 24         | [  0.  43.  36.  24.  35.  30.  27.  46.  41.  29.]
4       | 3.87379    | 31         | [ 43.   0.  29.  31.  42.  23.  20.  39.  34.  22.]
3       | 5.33924    | 10         | [ 36.  29.   0.  10.  21.  44.  41.  40.  45.  43.]
5       | 5.90307    | 50         | [ 24.  31.  10.   0.  39.   4.   1.  20.  15.   3.]
3       | 5.4191     | 39         | [ 35.  42.  21.  39.   0.  15.  12.  31.  26.  14.]
4       | 5.31347    | 4          | [ 30.  23.  44.   4.  15.   0.  47.  34.  39.  49.]
2       | 2.26377    | 1          | [ 27.  20.  41.   1.  12.  47.   0.  31.  36.  48.]
1       | 5.17287    | 20         | [ 46.  39.  40.  20.  31.  34.  31.   0.  45.  33.]
5       | 9.60918    | 15         | [ 41.  34.  45.  15.  26.  39.  36.  45.   0.  38.]
3       | 6.05051    | 3          | [ 29.  22.  43.   3.  14.  49.  48.  33.  38.   0.]

In [ ]:
sim_sums = reviews.apply(sum, "similarities")
reviews = reviews.with_column("similarity sum", sim_sums)
reviews

ratings | importance | random var | similarities                                        | similarity sum
5       | 3.96987    | 24         | [  0.  43.  36.  24.  35.  30.  27.  46.  41.  29.] | 311
4       | 3.87379    | 31         | [ 43.   0.  29.  31.  42.  23.  20.  39.  34.  22.] | 283
3       | 5.33924    | 10         | [ 36.  29.   0.  10.  21.  44.  41.  40.  45.  43.] | 309
5       | 5.90307    | 50         | [ 24.  31.  10.   0.  39.   4.   1.  20.  15.   3.] | 147
3       | 5.4191     | 39         | [ 35.  42.  21.  39.   0.  15.  12.  31.  26.  14.] | 235
4       | 5.31347    | 4          | [ 30.  23.  44.   4.  15.   0.  47.  34.  39.  49.] | 285
2       | 2.26377    | 1          | [ 27.  20.  41.   1.  12.  47.   0.  31.  36.  48.] | 263
1       | 5.17287    | 20         | [ 46.  39.  40.  20.  31.  34.  31.   0.  45.  33.] | 319
5       | 9.60918    | 15         | [ 41.  34.  45.  15.  26.  39.  36.  45.   0.  38.] | 319
3       | 6.05051    | 3          | [ 29.  22.  43.   3.  14.  49.  48.  33.  38.   0.] | 279

In [ ]:
def find_proportion(similarities, total_sum):
  return similarities / total_sum

similarity_proportions = reviews.apply(find_proportion, "similarities", "similarity sum")
similarity_proportions

array([[ 0.        ,  0.13826367,  0.11575563,  0.07717042,  0.11254019,
         0.09646302,  0.08681672,  0.14790997,  0.1318328 ,  0.09324759],
       [ 0.15194346,  0.        ,  0.1024735 ,  0.10954064,  0.14840989,
         0.08127208,  0.07067138,  0.13780919,  0.12014134,  0.07773852],
       [ 0.11650485,  0.09385113,  0.        ,  0.03236246,  0.06796117,
         0.14239482,  0.13268608,  0.12944984,  0.14563107,  0.13915858],
       [ 0.16326531,  0.21088435,  0.06802721,  0.        ,  0.26530612,
         0.02721088,  0.00680272,  0.13605442,  0.10204082,  0.02040816],
       [ 0.14893617,  0.1787234 ,  0.0893617 ,  0.16595745,  0.        ,
         0.06382979,  0.05106383,  0.13191489,  0.1106383 ,  0.05957447],
       [ 0.10526316,  0.08070175,  0.15438596,  0.01403509,  0.05263158,
         0.        ,  0.16491228,  0.11929825,  0.13684211,  0.17192982],
       [ 0.1026616 ,  0.07604563,  0.15589354,  0.00380228,  0.04562738,
         0.17870722,  0.        ,  0.11787072,  0.13688213,  0.18250951],
       [ 0.14420063,  0.12225705,  0.12539185,  0.06269592,  0.09717868,
         0.10658307,  0.09717868,  0.        ,  0.14106583,  0.10344828],
       [ 0.12852665,  0.10658307,  0.14106583,  0.04702194,  0.0815047 ,
         0.12225705,  0.11285266,  0.14106583,  0.        ,  0.11912226],
       [ 0.10394265,  0.07885305,  0.15412186,  0.01075269,  0.05017921,
         0.17562724,  0.17204301,  0.11827957,  0.13620072,  0.        ]])

In [ ]:
print(similarity_proportions)
for i in range(len(similarity_proportions)):
  for j in range(len(similarity_proportions)):
    if i == j:
      similarity_proportions[i][j] = 0.6
    else:
      similarity_proportions[i][j] = similarity_proportions[i][j] * 0.4

reviews = reviews.with_column("similarity proportions", similarity_proportions)
reviews

[[ 0.          0.13826367  0.11575563  0.07717042  0.11254019  0.09646302
   0.08681672  0.14790997  0.1318328   0.09324759]
 [ 0.15194346  0.          0.1024735   0.10954064  0.14840989  0.08127208
   0.07067138  0.13780919  0.12014134  0.07773852]
 [ 0.11650485  0.09385113  0.          0.03236246  0.06796117  0.14239482
   0.13268608  0.12944984  0.14563107  0.13915858]
 [ 0.16326531  0.21088435  0.06802721  0.          0.26530612  0.02721088
   0.00680272  0.13605442  0.10204082  0.02040816]
 [ 0.14893617  0.1787234   0.0893617   0.16595745  0.          0.06382979
   0.05106383  0.13191489  0.1106383   0.05957447]
 [ 0.10526316  0.08070175  0.15438596  0.01403509  0.05263158  0.
   0.16491228  0.11929825  0.13684211  0.17192982]
 [ 0.1026616   0.07604563  0.15589354  0.00380228  0.04562738  0.17870722
   0.          0.11787072  0.13688213  0.18250951]
 [ 0.14420063  0.12225705  0.12539185  0.06269592  0.09717868  0.10658307
   0.09717868  0.          0.14106583  0.10344828]
 [ 0.12852665  0.10658307  0.14106583  0.04702194  0.0815047   0.12225705
   0.11285266  0.14106583  0.          0.11912226]
 [ 0.10394265  0.07885305  0.15412186  0.01075269  0.05017921  0.17562724
   0.17204301  0.11827957  0.13620072  0.        ]]

ratings | importance | random var | similarities                                        | similarity sum | similarity proportions
5       | 3.96987    | 24         | [  0.  43.  36.  24.  35.  30.  27.  46.  41.  29.] | 311            | [ 0.6         0.05530547  0.04630225  0.03086817  0.0450 ...
4       | 3.87379    | 31         | [ 43.   0.  29.  31.  42.  23.  20.  39.  34.  22.] | 283            | [ 0.06077739  0.6         0.0409894   0.04381625  0.0593 ...
3       | 5.33924    | 10         | [ 36.  29.   0.  10.  21.  44.  41.  40.  45.  43.] | 309            | [ 0.04660194  0.03754045  0.6         0.01294498  0.0271 ...
5       | 5.90307    | 50         | [ 24.  31.  10.   0.  39.   4.   1.  20.  15.   3.] | 147            | [ 0.06530612  0.08435374  0.02721088  0.6         0.1061 ...
3       | 5.4191     | 39         | [ 35.  42.  21.  39.   0.  15.  12.  31.  26.  14.] | 235            | [ 0.05957447  0.07148936  0.03574468  0.06638298  0.6    ...
4       | 5.31347    | 4          | [ 30.  23.  44.   4.  15.   0.  47.  34.  39.  49.] | 285            | [ 0.04210526  0.0322807   0.06175439  0.00561404  0.0210 ...
2       | 2.26377    | 1          | [ 27.  20.  41.   1.  12.  47.   0.  31.  36.  48.] | 263            | [ 0.04106464  0.03041825  0.06235741  0.00152091  0.0182 ...
1       | 5.17287    | 20         | [ 46.  39.  40.  20.  31.  34.  31.   0.  45.  33.] | 319            | [ 0.05768025  0.04890282  0.05015674  0.02507837  0.0388 ...
5       | 9.60918    | 15         | [ 41.  34.  45.  15.  26.  39.  36.  45.   0.  38.] | 319            | [ 0.05141066  0.04263323  0.05642633  0.01880878  0.0326 ...
3       | 6.05051    | 3          | [ 29.  22.  43.   3.  14.  49.  48.  33.  38.   0.] | 279            | [ 0.04157706  0.03154122  0.06164875  0.00430108  0.0200 ...

In [ ]:
matriixx = np.asmatrix(similarity_proportions)
matriixx

matrix([[ 0.6       ,  0.05530547,  0.04630225,  0.03086817,  0.04501608,
          0.03858521,  0.03472669,  0.05916399,  0.05273312,  0.03729904],
        [ 0.06077739,  0.6       ,  0.0409894 ,  0.04381625,  0.05936396,
          0.03250883,  0.02826855,  0.05512367,  0.04805654,  0.03109541],
        [ 0.04660194,  0.03754045,  0.6       ,  0.01294498,  0.02718447,
          0.05695793,  0.05307443,  0.05177994,  0.05825243,  0.05566343],
        [ 0.06530612,  0.08435374,  0.02721088,  0.6       ,  0.10612245,
          0.01088435,  0.00272109,  0.05442177,  0.04081633,  0.00816327],
        [ 0.05957447,  0.07148936,  0.03574468,  0.06638298,  0.6       ,
          0.02553191,  0.02042553,  0.05276596,  0.04425532,  0.02382979],
        [ 0.04210526,  0.0322807 ,  0.06175439,  0.00561404,  0.02105263,
          0.6       ,  0.06596491,  0.0477193 ,  0.05473684,  0.06877193],
        [ 0.04106464,  0.03041825,  0.06235741,  0.00152091,  0.01825095,
          0.07148289,  0.6       ,  0.04714829,  0.05475285,  0.0730038 ],
        [ 0.05768025,  0.04890282,  0.05015674,  0.02507837,  0.03887147,
          0.04263323,  0.03887147,  0.6       ,  0.05642633,  0.04137931],
        [ 0.05141066,  0.04263323,  0.05642633,  0.01880878,  0.03260188,
          0.04890282,  0.04514107,  0.05642633,  0.6       ,  0.0476489 ],
        [ 0.04157706,  0.03154122,  0.06164875,  0.00430108,  0.02007168,
          0.0702509 ,  0.0688172 ,  0.04731183,  0.05448029,  0.6       ]])

In [ ]:
x = np.linalg.matrix_power(matriixx, 50)
x

matrix([[ 0.10542798,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542798,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542797,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542798,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542797,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542797,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542797,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542798,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542798,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631],
        [ 0.10542797,  0.10960334,  0.06019485,  0.11656228,  0.11656228,
          0.09986082,  0.11656228,  0.11238692,  0.08594294,  0.07689631]])

In [ ]:
importance

array([ 3.96986765,  3.87379159,  5.33923876,  5.90306769,  5.4190989 ,
        5.31346559,  2.26376782,  5.17286978,  9.60917524,  6.05050647])

In [ ]:
importance_prime = np.array(np.dot(importance, matriixx))
for i in range(100):
  importance_prime = np.array(np.dot(importance, matriixx))
importance_prime

array([[ 4.93515921,  4.72348224,  5.54443656,  4.63273112,  5.22069962,
         5.25123909,  3.41748206,  5.62455613,  7.98910823,  5.57595525]])

In [ ]:
final_tbl = reviews.select("ratings", "importance")
final_tbl = final_tbl.with_column("steady importance",importance_prime[0])
final_tbl

ratings | importance | steady importance
5       | 3.96987    | 4.93516
4       | 3.87379    | 4.72348
3       | 5.33924    | 5.54444
5       | 5.90307    | 4.63273
3       | 5.4191     | 5.2207
4       | 5.31347    | 5.25124
2       | 2.26377    | 3.41748
1       | 5.17287    | 5.62456
5       | 9.60918    | 7.98911
3       | 6.05051    | 5.57596

In [ ]:
total_importance = sum(final_tbl.column("steady importance"))
proportional_importance = final_tbl.column("steady importance") / total_importance
proportional_importance
final_tbl = final_tbl.with_column("proportional importance", proportional_importance)
final_tbl
cool_average = sum(final_tbl.column("ratings") * final_tbl.column("proportional importance"))
cool_average

3.5749260257522764

In [ ]:
vanilla_average_rating = np.mean(final_tbl.column("ratings"))
vanilla_average_rating

3.5